In [2]:
%matplotlib inline

import warnings
import pandas as pd
import numpy as np
import seaborn as sns

In [8]:
df = pd.read_csv("../data/cleaned.csv", parse_dates=['datetime'])
df.head()

,datetime,month,day,hour,city,state,country,shape,latitude,longitude,duration
0,1949-10-10 20:30:00,10.0,10.0,20.0,san marcos,tx,us,cylinder,29.883056,-97.941111,2700.0
1,1949-10-10 21:00:00,10.0,10.0,21.0,lackland afb,tx,us,light,29.384210,-98.581082,7200.0
2,1956-10-10 21:00:00,10.0,10.0,21.0,edna,tx,us,circle,28.978333,-96.645833,20.0
3,1960-10-10 20:00:00,10.0,10.0,20.0,kaneohe,hi,us,light,21.418056,-157.803611,900.0
4,1961-10-10 19:00:00,10.0,10.0,19.0,bristol,tn,us,sphere,36.595000,-82.188889,300.0

### Time series prediction

In [7]:
# https://www.analyticsvidhya.com/blog/2016/02/time-series-forecasting-codes-python/
df['datetime'].dt.day

0        10
1        10
2        10
3        10
4        10
5        10
6        10
7        10
8        10
9        10
10       10
11       10
12       10
13       10
14       10
15       10
16       10
17       10
18       10
19       10
20       10
21       10
22       10
23       10
24       10
25       10
26       10
27       10
28       10
29       10
         ..
77095     9
77096     9
77097     9
77098     9
77099     9
77100     9
77101     9
77102     9
77103     9
77104     9
77105     9
77106     9
77107     9
77108     9
77109     9
77110     9
77111     9
77112     9
77113     9
77114     9
77115     9
77116     9
77117     9
77118     9
77119     9
77120     9
77121     9
77122     9
77123     9
77124     9
Name: datetime, Length: 77125, dtype: int64