In [1]:
%matplotlib inline

import warnings
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
df = pd.read_csv("../data/cleaned.csv", parse_dates=['datetime'])
df.head()

,datetime,year,date,time,city,state,country,shape,latitude,longitude,duration
0,1949-10-10 20:30:00,1949,1949-10-10,20:30:00,san marcos,tx,us,cylinder,29.883056,-97.941111,2700.0
1,1949-10-10 21:00:00,1949,1949-10-10,21:00:00,lackland afb,tx,us,light,29.384210,-98.581082,7200.0
2,1956-10-10 21:00:00,1956,1956-10-10,21:00:00,edna,tx,us,circle,28.978333,-96.645833,20.0
3,1960-10-10 20:00:00,1960,1960-10-10,20:00:00,kaneohe,hi,us,light,21.418056,-157.803611,900.0
4,1961-10-10 19:00:00,1961,1961-10-10,19:00:00,bristol,tn,us,sphere,36.595000,-82.188889,300.0

### Time series prediction

In [ ]:
# https://www.analyticsvidhya.com/blog/2016/02/time-series-forecasting-codes-python/
data